name: Vercel Production Deployment

env:
  VERCEL_ORG_ID: team_0nxioOghosPbhu1W1h6ieL83
  VERCEL_PROJECT_ID: prj_wmlV51nBGqlqqpSLXaPK7PK66MMO
  VERCEL_TOKEN: 1iGgIB9LckcnByTUKN2ZFcCH

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1

      - name: Install Dependencies
        run: bun install

      - name: Install Vercel CLI
        run: bun add -g vercel

      - name: Run Tests
        run: bun run test

      - name: Run Build Check
        run: bun run build

      - name: Pull Vercel Environment
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
